In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('../data/one_dollar_oysters.xlsx')

In [10]:
df.head(n=2)

,Name,Address,Phone,Hours,Notes,Verified
0,7 Mile House,2800 Bayshore Blvd.,415-467-2343,Mon 11:30-10:00,NaN,NaN
1,Anchor & Hope,83 Minna St.,415-501-9100,Mon-Fri 4:30 - 6:-00,NaN,NaN

In [12]:
df.shape

(69, 6)